<% provide(:title, "廃材置き場") %>
<div class="row">
<h1>終わった看板を一覧にして置いておくよ</h1>
  <div class="col-md-8">
    <% if @lane.kanbans.any? %>
      <h3>廃材置き場 (<%= @lane.kanbans.count %>)</h3>
      <ol class="kanbans">
        <%= render @lane.kanbans %>
      </ol>
      <%= will_paginate @lane.kanbans %>
    <% end %>
  </div>
</div>