<% provide(:title, "Home") %>

<div class="container">
  <% @lanes.each do |lane| %>
    <div class="lane">
      <h2><%=lane.name%></h2>
      <% if lane.kanbans.any? %>
        <%= render lane.kanbans %>
      <% end %>
    </div>
  <% end %>
</div>