<% provide(:title, "Home") %>

<div class="container">
  <% @lanes.each do |lane| %>
    <h2><%=lane.name%></h2>
    <% if lane.kanbans.any? %>
      <% lane.kanbans %>
    <% end %>
  <% end %>
</div>