<li id="kanban-<%= kanban.stage %>">
  <span class="content">
    <%= kanban.content %>
  </span>
  <span class = "deadline">
    <%= kanban.deadline %>
  </span>
  <%= link_to "delete", kanban, method: :delete, data: { confirm: "You sure?" } %>
</li>